@import '../../../sass/vars.scss';

.control__btn {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
}

.yellow-btn {
    background-color: $yellow;
    margin-right: 40px;
    border: 1px solid $yellow;
    &:hover{
        background: none;
        border: 1px solid $white--50;
    }
    @media (max-width: 630px) {
        margin: auto;
      }
}
.transparent-btn {
    background: none;
    border: 1px solid $white--50;
    &:hover{
        background-color: $yellow;
    }
}

.full-btn {
    background-color: $yellow;
    border: 1px solid $yellow;
    width: 100%;    
    margin-top: 10px;
    &:hover{
        background: none;
        color: $yellow;
    }
}
