@import '../../../sass/vars.scss';

.header__contacts__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid $white--20;
    background: none;
    &:not(:first-child){
        margin-top: 20px;
    }
}

.fa-instagram, .fa-twitter, .fa-facebook-f {
    color: $white;
    font-size: 20px;
}