include ../navpannel/nav-link.pug
include ../button/button.pug
include ../button/down-btn.pug
include ../button/contact.pug

.header
    .header__logo
            img.header__logo__img(src="../../../src/img/wheel.svg")
            
    .navpannel
        .navpannel__block.navpannel__left
            +navlink({linkHref: '/', linkText: 'home'})
            +navlink({linkHref: '#about', linkText: 'about'})
            +navlink({linkHref: '#team', linkText: 'team'})
            +navlink({linkHref: '#booking', linkText: 'booking'})
        
        .navpannel__block.navpannel__right
            +navlink({linkHref: '#menu', linkText: 'menu'})
            +navlink({linkHref: '#galerie', linkText: 'galerie'})
            +navlink({linkHref: '#events', linkText: 'events'})
            +navlink({linkHref: '#contacts', linkText: 'contact'})

    .header__body
        .header__left
            .header__schedule
                p Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM
        .header__central        
            p.section__caption.header__caption='restaurant'
            .header__title
                h1.header__title__text='hungry people'
            .divider
            .control
                +button({style:'yellow-btn', btnText:'book table'})
                +button({style:'transparent-btn', btnText:'explore'})

            a.down-btn(href="#about")
                +downbtn()
            
        .header__right
            .header__contacts
                +contact({link:'#', iconClass: 'fab fa-facebook-f'})
                +contact({link:'#', iconClass: 'fab fa-twitter'})
                +contact({link:'#', iconClass: 'fab fa-instagram'})        