@font-face {
  font-weight: 400;
  font-family: 'Quicksand';
  font-style: normal;
  src: url('../fonts/quicksand.woff2') format('woff2'),
    url('../fonts/quicksand.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Quicksand';
  font-style: normal;
  src: url('../fonts/quicksand-bold.woff2') format('woff2'),
    url('../fonts/quicksand-bold.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Banny';
  font-style: normal;
  src: url('../fonts/Banny-Round.woff') format('woff');
}