//colors
$white:                     #FFFFFF;
$white--20:                 rgba(255,255,255,0.2);
$white--50:                 rgba(255,255,255,0.5);


$yellow:                    #E8C300;
//font size
$font--small:               12px;

// fonts
$mainFont:                  Banny, OpenSans, sans-serif;
$titleFont:                 OpenSans, sans-serif;
