.booking-form{
    margin-top: 20px;
    max-width: 600px;
    &__body {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        @media(max-width:600px){
            grid-template-columns: 1fr;
        }
    }
    &__input, .select-container{        
        @media(max-width:600px){
            width: 90%;
            margin: auto
        }
    }
    &__row {
        display: flex;
        flex-direction: row;  
        width: 100%;
        
    }
 
}
.default-select{
    color: rgba(0,0,0,.5)
}
select {
    padding-right: 20px;
}