.booking-form{
    margin-top: 20px;
    max-width: 600px;
    &__body {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        @media(max-width:600px){
            grid-template-columns: 1fr;
        }
    }
    &__input, .select-container{        
        outline: 0;
        @media(max-width:600px){
            width: 90%;
            margin: auto
        }
    }
    &__row {
        display: flex;
        flex-direction: row;  
        width: 100%;        
    } 
}
.default-select{
    color: rgba(0,0,0,.5)
}

.select {
    font: 400 12px/1.3 sans-serif;
    -webkit-appearance: none;
    appearance: none;     
    line-height: 1;    
    background-image: url('../../../img/arrow.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 20px 30%;
    background-position: right 20px center, right bottom, right bottom, right bottom;   
  }

.hidden {
    display: none;
}

@media(max-width: 700px){
   .booking-form{
        .full-btn {
            max-width: 95%;
        }
   } 

}