.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
    &__text {
        max-width: 565px;
        text-align: center;
    }
    &__navigation {
        margin-top: 50px;
        display: flex;
        @media(max-width: 1000px){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;            
        }
        &__block {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 50px;
            &:not(:first-child) {
                border-left: 1px solid rgba(0,0,0,.2);
                @media(max-width: 1000px) {
                    border: none;
                }
            }
        }
    }
    &__list{     
        margin-top: 50px;
        grid-column-gap: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;        
      
        @media(max-width: 1350px) {
            grid-template-columns: 1fr 1fr;
       
        }
        @media(max-width: 750px) {
            grid-template-columns: 1fr
        }
    }
}

.dish-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}