include ../dish/dish.pug

.section.menu.no-header#menu  
    h2.section__body__title delicious menu
    .divider
    p.section__body__text-bold.menu__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
    .menu__navigation   
        each block in ['soupe', 'pizza', 'pasta', 'dessert', 'wine', 'beer', 'drinks']
            .menu__navigation__block
                p.dish-name= block
    .menu__list 
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})
        +dish({name: 'pizza quattro stagioni .... ', description: 'Integer ullamcorper neque eu purus euismod', price: '55.68 USD'})


               
