//- include ../rectangle/rectangle.pug

.section.events-section#events(style="background-image: url('./img/specialty-bg.png')")
    .section__header 
            p.section__caption private events
    .section__body.events-body     

        
        .events-media
            .section__body__rectangle.events-rectangle
                +rectangle()
            .img-wrapper
                img.section__img.events__img(src="./img/rings.webp", alt="fireplace")
                p.label weddings

        .events-media.media-right
            .section__body__rectangle.events-rectangle
                +rectangle()
            .img-wrapper
                img.section__img.events__img(src="./img/cheers.webp", alt="fireplace")
                p.label corporate parties

    .section__footer 
        p.section__footer__text.events-footer For private events please call: #[span.section__footer__bold +40 729 131 637]/+40 726 458 782 or use the contact form.