//- include ../rectangle/rectangle.pug

.section.events-section#events
    .section__header 
            p.section__caption private events
    .section__body.events-body     

        
        .events-media
            .section__body__rectangle.events-rectangle
                +rectangle()
            .img-wrapper
                img.events__img(src="../../../src/img/rings.webp", alt="fireplace")
                p.label weddings

        .events-media.media-right
            .section__body__rectangle.events-rectangle
                +rectangle()
            .img-wrapper
                img.events__img(src="../../../src/img/cheers.webp", alt="fireplace")
                p.label corporate parties