block variables
  - pageTitle = 'Hungry people'
  - keywords = 'webpack, pug, scss'
  - description = 'A restaurant landing page'

doctype html
html(lang='en')
  head
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='src/img/wheel.svg')
    meta(charset="utf-8")
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    title=pageTitle
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
      include ../components/header/header.pug
      include ../components/about/about.pug     
      include ../components/team/team.pug  
      include ../components/booking/booking.pug  
      include ../components/specialties/specialties.pug 
      include ../components/menu/menu.pug 
      include ../components/events/events.pug
      include ../components/galerie/galerie.pug
      include ../components/contact/contact.pug
      block content
      


