.team-section {
    background-color: rgba(0,0,0,.5);
    background-image: url('../../../img/team-bg.png'); 
    background-size: cover;
    color: #fff;
}

.team-img{
    position: relative;
    left: -120px;
    @media(max-width:600px){
        left: 0;
    }
}

.team-media{
    @media(max-width:800px){
        justify-content: center;
    }
}