.team-section {
    background-color: rgba(0,0,0,.5);
    background-image: url('../../../img/team-bg.png'); 
    background-size: cover;
    min-height: 675px;
    color: #fff;
}
.team-rectangle {
    
}
.team-img{
    position: relative;
    left: -120px;
}