include ../rectangle/rectangle.pug

.section.team-section
    .section__header 
            p.section__caption our team
    .section__body        
        
        .section__body__media.team-media
            .section__body__rectangle.team-rectangle
                +rectangle()
            img.section__body__img.team-img(src="../../../src/img/team.webp", alt="fireplace")
            
        .section__body__description.section__right
            h2.section__body__title masterchef
            .divider
            p.section__body__text-bold Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
            p.section__body__text Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.