@import '../../../sass/vars.scss';

.navpannel__link {    
    font-family: $titleFont;
    font-weight: 700;
    font-size: $font--small;
    line-height: $font--classic;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    z-index: 1100;
    &:hover{
        border-bottom: 2px solid $white;
    }
    @media (max-width: 1400px) {        
        margin-right: 5px;
      }
}
