include ../rectangle/rectangle.pug

.section.no-header#about
    .section__body
        .section__body__description.about-description
            h2.section__body__title about us
            .divider
            p.section__body__text-bold Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
            p.section__body__text Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
        
        .section__body__media.section__right
            img.section__body__img(src="./img/fireplace.webp", alt="fireplace")
            .section__body__rectangle.about-rectangle
                +rectangle()
