.contact-form {
    display: flex;
    flex-direction: column;
    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.contact-text {
    max-width: 565px;
    text-align: center;
}