.section.contact-section.no-header#contact  
    h2.section__body__title contact
    .divider
    p.section__body__text-bold.contact-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
    .contact-form 
        .contact-form__row 
            label(for="nameInput").hidden name
            input(type='text' placeholder='Name').booking-form__input#nameInput

            label(for="emailInput").hidden email
            input(type='email' placeholder='Email').booking-form__input#emailInput
             
            label(for="telInput").hidden phone
            input(type='tel' placeholder='Phone').booking-form__input#telInput